In [3]:
import pandas as pd
busan = pd.read_csv('부산광역시 주민등록인구통계_20201231.csv',encoding='cp949')
busan

,구군,동수(개소),세대수(세대),인구수(명),남자인구수(명),여자인구수(명),시전체 인구에 대한 구성비(%),면적(㎢),인구밀도(명/㎢)
0,중구,9,23160,44072,21904,22168,1.27,2.83,15573
1,서구,13,52786,110350,53941,56409,3.18,13.98,7893
2,동구,12,44657,90477,44416,46061,2.61,9.87,9167
3,영도구,11,54859,118628,58806,59822,3.42,14.20,8354
4,부산진구,20,166865,361044,174721,186323,10.42,29.67,12169
5,동래구,13,112136,272500,132722,139778,7.86,16.63,16386
6,남구,17,117397,280852,137667,143185,8.10,26.82,10472
7,북구,13,120273,293704,145449,148255,8.47,39.37,7460
8,해운대구,18,168650,411293,198499,212794,11.86,51.47,7991
9,사하구,16,138790,325951,163099,162852,9.40,41.77,7803
10,금정구,17,107024,243870,119008,124862,7.03,65.27,3736
11,강서구,8,53731,135048,71570,63478,3.90,181.49,744
12,연제구,12,90266,210443,101654,108789,6.07,12.10,17392
13,수영구,10,81452,177897,84349,93548,5.13,10.21,17424
14,사상구,12,96726,223489,113217,110272,6.45,36.09,6193
15,기장군,5,69136,166945,83076,83869,4.82,218.30,765